@media only screen and (max-width: 1366px) {
	.weather {
		position: absolute;
		top: 150px;
		left:330px;
	}
	.pump {
		position: absolute;
		top: 365px;
		left:940px;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { /* STYLES GO HERE */
	.weather {
		position: absolute;
		top: 200px;
		left:100px;
	}
	.pump {
		position: absolute;
		top: 365px;
		left:677px;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { /* STYLES GO HERE */
	.weather {
		position: absolute;
		top: 200px;
		left:100px;
	}
	.pump {
		position: absolute;
		top: 366px;
		left:778px;
	}
}